#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: url("../src/assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
